<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<register
			  serviceType="DemoNews.Logic.INewsLogic, DemoNews"
			  implementationType="DemoNews.Logic.NewsLogic, DemoNews"
			  lifetime="Singleton" />
		</services>
		<settings>
			<setting name="DemoNews.ApiUrl" value="https://api.example.com/data" />
		</settings>
	</sitecore>
</configuration>